#wpssbp-admin-footer {
  bottom: 45px;
  text-align: center;
  text-decoration: none; 
  border: none; 
  margin-right: 5px;
  vertical-align: bottom;
  position: absolute;
}
.wpssbp-setting-panel, .wpssbp-help-panel {
  min-height: 80vh;
}

.wpssbp-image-panel #sortable { list-style-type: none; margin: 0; padding: 0; width: 800px; }
.wpssbp-image-panel #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 150px; height: 150px; font-size: 4em; text-align: center; border:1px solid #333; }
.wpssbp-remove { color:red; float:left; z-index:99; position:relative; cursor:pointer; font-size:18px }
.button-panel { padding-bottom:20px; }
.wpssbp-image-panel .loading { height:100vh; width: 100%; background: #fff; z-index:999; position:absolute; display:none; }